.send-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 450px;
}

.send-page h1 {
    text-align: center;
    flex-wrap: wrap;
    font-weight: normal;
}

.send-page h1 span {
    color: var(--accent);
    font-weight: bold;
}