.recept-choose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

.recept-choose-link {
    margin-left: 20px;
    flex-grow: 1;
    cursor: pointer;
}

.recept-choose-link * {
    cursor: pointer;
}